<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="media-heading">CS 4220/5223 + Math 4260</h1>
      <h2>Numerical Analysis: Linear and Nonlinear Problems</h2>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr/>
    <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
      <p>
        Location: Olin 255<br/>
        Lecture: MWF 11:15-12:05
      </p>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
      <p>
        Prof: <a href="http://www.cs.cornell.edu/~bindel">David Bindel</a>
        (<a href="mailto:bindel@cornell.edu">bindel@cornell.edu</a>)<br/>
        OH: W 9-11, F 1-2, or by appt (CIS 487), <a href="https://outlook.office365.com/owa/calendar/BindelOH@cornellprod.onmicrosoft.com/bookings/">or by appt</a>
      </p>
      <p>
        TA: Daniel Cao (<a href="mailto:dyc33@cornell.edu">dyc33@cornell.edu</a>)<br/>
        OH: TBD
      </p>
      <p>
        TA: Milo Schlittgen-Li (<a href="mailto:ms3626@cornell.edu"ms3626@cornell.edu>ms3626@cornell.edu</a>)<br/>
        OH: TBD
      </p>
    </div>
    </div>
  </div>
</div>
